{% extends "base.html" %}
{% block content %}


<div class="w-1/2 mx-auto my-9">

   {% if messages %}
    {% for message in messages %}
        <div class="px-2 py-1 {% if message.tags == 'success' %} bg-green-500 {% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% comment %} {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}
{% endif %} {% endcomment %}

<div>
  <form method="POST">
    {% csrf_token %}
           {{form}}
    <button type="submit" class="bg-blue-500 px-2 py-1 rounded text-white mt-3">Change Password</button>
   {% comment %} Data is sent like: username=ean&password=123 {% endcomment %}
  </form>
</div>


</div>

{% endblock content %}


{% comment %} <div>
  <form method="POST">
    {% csrf_token %}
    <label for="12">Username</label>
<input name="username" id="12"  type="text" placeholder="Enter Your Username">

    <label for="pass">Password</label>
<input name="password" id="pass" type="text" placeholder="Enter Your Password">

    <button type="submit">Submit</button>
    Data is sent like: username=ean&password=123 
  </form>
</div> {% endcomment %}