{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
         <ol> {% endcomment %}
        {% comment %}#here tasks is full table of Task and task is the only one obj {% endcomment %}
        {% comment %} {{tasks}} {% endcomment %}
    {% comment %} {% for project in tasks  %}            {% endcomment %}
             {% comment %} <li>
                <p>{{project.name}}
                    #one to many
                    {% for task in project.task_set.all  %}
                    <p>{{task.title}}</p>
                    {% endfor %}


             </li> {% endcomment %}
         {% comment %} {% endfor %} {% endcomment %}
         {% comment %} </ol>
    </div>
    {{tasks}} {% endcomment %}

    {% comment %} {{task1.title}} {% endcomment %}
{% comment %} </body>
</html> {% endcomment %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
       <ol>
            {% for project in projects %}
                <li>
                    <p>{{project.name}}</p>
                    <p>{{project.num_task}}</p>
                </li>
            {% endfor %}
            </ol> 
            {% comment %} <p>{{task_count}}</p> {% endcomment %}
    </div>
</body>
</html>