

<footer class="bg-[#10182F] text-white py-10 mt-10 rounded-xl ">

  <div class="max-w-4xl mx-auto text-center px-4">

    <!-- Logo -->
     <h2 class="text-xl font-bold mb-5"></h2>

    <!-- Links -->
    <ul class="flex flex-wrap justify-center gap-6 text-gray-300 mb-6">

      <li><a href="#" class="hover:text-white transition">Home</a></li>
      <li><a href="#" class="hover:text-white transition">About</a></li>
      <li><a href="#" class="hover:text-white transition">Services</a></li>
      <li><a href="#" class="hover:text-white transition">Contact</a></li>

    </ul>

    <!-- Copyright -->
    <p class="text-gray-500 text-sm">
      © 2026 MyWebsite. All rights reserved.
    </p>

  </div>

</footer>