{% extends "base.html" %}

{% block content %}
    {% comment %} Read form field Documentation {% endcomment %}

<div class="w-1/2 mx-auto my-9">
{% if messages %}
{% for message in messages %}
   <div class="px-2 py-1 {% if message.tags == 'success' %} bg-green-500{% endif%}">{{message}}</div>
{% endfor %}
{% endif %}

    {% comment %} non-field-error {% endcomment %}
    {% if form.non_field_errors %}
     {% for error in form.non_field_errors %}
       {{error}}
     {% endfor %}
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
    {% comment %} field-error {% endcomment %}
        {% for field in form %}
        <p>
            <label for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>

            {{ field }}

            {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </p>
        {% endfor %}

        <button type="submit" class="bg-blue-500 px-2 py-1 rounded text-white mt-3">Sign_up</button>
    </form>
</div>

{% endblock content %}



{% comment %} <form action="{% url "create_task" %}",method="POST">
    {{form.as_p}}
    <Button type="submit">Submit</Button>
</form> {% endcomment %}